body {
 font: 16px serif Helvetica;
 background-color: lightgrey; 
}

#container {
 width: 600px;
 margin-left: auto;
 margin-right: auto;
}

.border {
 border-bottom: 1px solid #999;
}

.job-title {
 float: left;
}

.date {
 text-align: right;
}
