body {
 background: url(tile.png); 
}

#container {
 width: 600px;
 margin-top: 50px;
 margin-left: auto;
 margin-right: auto;
 color: lightgrey;
}

#myface {
 float: right;
 border-radius: 12px;
 box-shadow: 0px 0px 5px white;
}

.border {
 border-bottom: 1px solid #999;
}

.border.between {
 margin-top: 30px;
 margin-bottom: 30px;
}

.job-title {
 float: left;
}

.date {
 text-align: right;
}
